################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/PE多功能信息处理插件/v15/Server/sqlite3/db.lock
/.vs/PE多功能信息处理插件/v15
